.date-picker {
    .date-picker-input {
        .custom-field {
            .field-wrapper-and-status-icon {
              .input-wrapper {
                .trailing-content-wrapper {
                  .trailing-content {
                    @apply text-primary-60;
                  }
                }
              }
            }
        }
    }

    .date-picker-calendar {
        width: 480px;
        height: 440px;
        border-radius: 8px;
        box-shadow: 0px 13px 15px -7px rgba(31, 27, 23, 0.1), 0px 3px 6px rgba(31, 27, 23, 0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @apply bg-white-100;

        .calendar-navigation-btn {
          width: 32px;
          height: 64px;
          display: flex;
          border-radius: 4px;
          justify-content: center;
          align-items: center;

          &.previous {
            margin-right: 14px;
          }

          &.next {
            margin-left: 14px;
          }

          &:hover {
            cursor: pointer;
            @apply bg-grey-5;

          }
          
          &:active {
            @apply bg-grey-10;
          }
        }
        
        .date-picker-calendar-wrapper {

            .calendar-body {

              .calendar-month-label {
                font-size: 14px;
                font-weight: 600;
                font-style: SemiBold;
                letter-spacing: 4px;
                text-align: center;
                line-height: 20px;
                text-transform: uppercase;
                margin: 5px 0 18px 0;
                @apply text-grey-20;
              }
                .calendar-grid-wrapper {
                    .calendar-weekday-labels, .calendar-days-grid {
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                    }

                    .calendar-weekday-labels {
                        margin-bottom: 12px;
                        
                        p {
                          font-size: 12px;
                          letter-spacing: 0;
                          text-align: center;
                          line-height: 16px;
                          width: 48px;
                          height: 16px;
                          @apply text-grey-80;
                        }
                    }
                    .calendar-days-grid {
                      margin-bottom: 48px;

                      .day-background {
                        width: 48px;
                        height: 48px;
                        padding: 1px;

                        .day-wrapper {
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          border-radius: 2px;
                          height: 100%;
                          width: 100%;
                          

                          .day {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            letter-spacing: 0;
                            text-align: center;
                            line-height: 24px;
                            width: 44px;
                            height: 24px;
                            user-select: none;
                          }

                          &.inside-selectable-slot {

                            &.current-month {
                              @apply bg-grey-5;
                              opacity: 1;
                              .day {
                                font-weight: 600;
                                @apply text-grey-80;
                              }

                              &:not(.within-selected-slot):not(.past):hover {
                                cursor: pointer;
                                @apply bg-white-100;
                              }
  
                              &:not(.within-selected-slot):not(.past):active {
                                @apply bg-primary-60;
                                .day {
                                  @apply text-white-100;
                                }
                                .current-date-highlight {
                                  @apply bg-white-100;
                                }
                              }
                            }

                            &:not(.current-month) {
                              @apply bg-grey-5;
                              opacity: 0.5;
                              .day {
                                font-weight: 600;
                                @apply text-grey-30;
                              }
                            }

                            &.past {
                              opacity: 0.5;
                              @apply bg-grey-5;
                              .day {
                                font-weight: 400;
                                @apply text-grey-20;
                              }
                            }

                            &.start {
                              border-radius: 6px 0px 0px 6px;
                              box-shadow: 0px 15px 12px -7px rgba(0, 0, 0, 0.04), 0px 2px 6px -3px rgba(0, 0, 0, 0.26), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 10px -4px rgba(60, 138, 255, 0.5), 0px 8px 16px -6px rgba(114, 168, 247, 0.29);
                              opacity: 1;
                              @apply bg-primary-90;
                              .day {
                                @apply text-white-100;
                              }

                              &.start-only {
                                border-radius: 6px;
                              }
                            }

                            &.within-selected-slot {
                              box-shadow: 0px 15px 12px -7px rgba(0, 0, 0, 0.04), 0px 2px 6px -3px rgba(0, 0, 0, 0.26), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 10px -4px rgba(60, 138, 255, 0.5), 0px 8px 16px -6px rgba(114, 168, 247, 0.29);
                              opacity: 1;
                              @apply bg-primary-90;
                              .day {
                                @apply text-white-100;
                              }
                              .current-date-highlight {
                                @apply bg-white-100;
                              }
                            }

                            &.end {
                              border-radius: 0px 6px 6px 0px;
                              box-shadow: 0px 15px 12px -7px rgba(0, 0, 0, 0.04), 0px 2px 6px -3px rgba(0, 0, 0, 0.26), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 10px -4px rgba(60, 138, 255, 0.5), 0px 8px 16px -6px rgba(114, 168, 247, 0.29);
                              opacity: 1;
                              @apply bg-primary-90;
                              .day {
                                @apply text-white-100;
                              }
                            }
                          }

                          &.past {
                            opacity: 0.5;
                            @apply bg-grey-5;
                            
                            .day {
                              font-weight: 400;
                              @apply text-grey-20;
                            }
                          }

                          .current-date-highlight {
                            width: 10px;
                            height: 3px;
                            border-radius: 2px;
                            margin-top: 2px;
                            @apply bg-grey-60;
                          }
                        }
                      }
                    }
                }
            }
        }
    }
  }
  